COMPOSE_BAKE=true

PROJECT_NAME=em-auth-service
ENVIRONMENT=local

API_HOST=0.0.0.0
API_PORT=8000
ROOT_PATH=

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=auth_db
POSTGRES_USER=db_admin
POSTGRES_PASSWORD=change_me_db_password

DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
TEST_DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}

SECRET_KEY=change_me_in_real_.env
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
JWT_ALGORITHM=HS256

LOG_LEVEL=info
RATE_LIMIT_PER_MINUTE=1000
RATE_LIMIT_AUTH_PER_MINUTE=1000
RATE_LIMIT_API_BURST=200
RATE_LIMIT_AUTH_BURST=100

TEST_BASE_URL=http://localhost:8000
TEST_PASSWORD=test_password
TEST_ADMIN_EMAIL=admin1@em.ru
TEST_ADMIN2_EMAIL=admin2@em.ru
TEST_MANAGER_EMAIL=manager1@em.ru
TEST_MANAGER2_EMAIL=manager2@em.ru
TEST_USER_EMAIL=user1@em.ru
TEST_USER2_EMAIL=user2@em.ru
