ACTIVE_CI_PROVIDER=github

PROJECT_NAME=em-auth-service
ENVIRONMENT=production

API_HOST=0.0.0.0
API_PORT=8000
ROOT_PATH=/apps/em-auth

POSTGRES_HOST=postgres-service
POSTGRES_PORT=5432
POSTGRES_DB=auth_db
POSTGRES_USER=db_admin
POSTGRES_PASSWORD=change_me_db_password

DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

SECRET_KEY=change_me_secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
JWT_ALGORITHM=HS256

LOG_LEVEL=info
RATE_LIMIT_PER_MINUTE=60
RATE_LIMIT_AUTH_PER_MINUTE=5
RATE_LIMIT_API_BURST=10
RATE_LIMIT_AUTH_BURST=2
